<!DOCTYPE html>


<html>

<head>
<!-- LINKS -->
<title>ADDING DATA</title>
</head>


<body>

   <p> Here are the task table columns: {{ columns }}</p>

   <p>  Here is the first row of tasks:

{{ first_row }}</p>



<form method = "post" action="/complete">
    Task ID:
    <input type="text" name="task_id" value="">
    Task title:
    <input type="text" name="task_title" value="">
    Task Description:
    <input type="text" name="description" value="">

       <input type="submit" value="Add task">
  </form> 
  

  <p> Your task ID was {{ task_input.id }}, task Title:  <strong>{{ task_input.title }} </strong> and the description <strong>{{ task_input.description }} </strong> </p>


  <!-- Important: {{ important }} -->
  {{ result }}
</body>

</html>