<!DOCTYPE html>


<html>

<head>
  <meta charset="UTF-8">
  <title>Task manager app</title>
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> -->

  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
Bootstrap core CSS -->


  <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/style.css") }}>

  <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/stylesheet.css") }}>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">



</head>

<body>
  <header>
    <nav>
      <ul>
        <li><img src="../static/images/logo.png" alt="company logo"></li>
        <li><a href="#footer">contact us</a></li>
      </ul>
    </nav>
    <img src="../static/images/logo.png" alt="company logo">
    <div id="headers">

      <h1>{{greeting}}</h1>
      <h2>welcome to your to-do list</h2>
      <h3>{{current_date}} | {{current_time}}</h3>
    </div>
  </header>

<div class="newtask">


    <button type="button" name="button" onclick="myFunction('new-task-form');" id='new-task-button'>
      <h3 class='home-page-h3'>Add a new task</h3>
    </button>

    <form method="post" action="/todos" id='new-task-form'>
      Title:
      <input type="text" name="task_title" value="">
      Description:
      <input type="text" name="task_desc" value="">
      Mark as important? <input type="checkbox" name="checkbox" value='checked'>
      Due date: <input type="date" name="due_date">
      <input type="submit" value="Add task" id='submit'>
    </form>

</div>
    <script type="text/javascript">
      function myFunction() {
        var x = document.getElementById("new-task-form");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>


    <section id='list-tasks'>


      <h3 class='home-page-h3'>To-Do List</h3>
      {% for item in data %}
      <ol id='task'>
        <li id='task-title'>{{item['title']}}</li>
        <li>Due: {{item['date']}}</li>
        <li>{{item['description']}}</li>
        <li>Important? {{importance}}</li>
        <button type="button" name="button" id='remove-task-button'>Task complete? Remove task.</button>
      </ol>
      {% endfor %}

    </section>

    <footer id='footer'>
      <p>81 Newgate St, London EC1A 7AJ</p>
    </footer>

</body>

<!-- <script type="text/javascript">
  url = 'http://127.0.0.1:5000/todos'

  fetch(url)
    .then(response => response.json())
    .then(json => document.getElementById('list-tasks').innerHTML = JSON.stringify(json))
</script> -->

</html>
